//fonts
@import "https://fonts.googleapis.com/css?family=Nunito:200,600";
// Variables
@import "components/variables";
//navbar
@import "components/navbar";
//carousel
@import "components/carousel";
//footer
@import "components/footer";
//specialty
@import "components/specialty";



